{{ attach_library('datebook/event-calendar') }}
<div>{{ test }}</div>
<div>{{ controller }}</div>

<h3 class="calendar-title"></h3>
<button class="btn btn-blue" data-calendar-nav="prev">&laquo; Prev</button>
<button class="btn btn-green" data-calendar-nav="today">Today</button>
<button class="btn btn-blue" data-calendar-nav="next">Next &raquo;</button>
<button class="btn btn-green" data-calendar-view="year">Year</button>
<button class="btn btn-green" data-calendar-view="month">Month</button>
<button class="btn btn-green" data-calendar-view="week">Week</button>
<button class="btn btn-green" data-calendar-view="day">Day</button>
<div id="calendar"></div>