{{ attach_library('datebook/event-calendar') }}
{{ attach_library('datebook/datetimepicker') }}

{% if canSave == true %}
<form class="datebook-save" action="/datebook/save" method="post">
	<h3>Add Events</h3>
	<div class="datebook-fields row">
		<div class="input-wrap col-sm-6">
			<label for="date_title">Activity Title</label>
			<input type="text" id="date_title" name="date_title"/>
		</div>
		<div class="input-wrap col-sm-6">
			<label for="date_start">Start Time</label>
			<input type="text" class="datetimepicker" id="date_start" name="date_start" autocomplete="off"/>
		</div>
		<div class="input-wrap col-sm-6">
			<label for="date_description">Activity Description (optional)</label>
			<textarea id="date_description" name="date_description"></textarea>
		</div>
		<div class="input-wrap col-sm-6">
			<label for="date_end">End Time</label>
			<input type="text" class="datetimepicker" id="date_end" name="date_end" autocomplete="off"/>
		</div>
		<div class="input-wrap col-sm-6 submit">
			<input type="submit" value="Submit" class="btn btn-green"/>
		</div>
	</div>
</form>
{% endif %}

<div class="datebook-buttons">
	<div class="view-change">
		<button class="btn btn-red" data-calendar-view="year">Year</button>
		<button class="btn btn-red" data-calendar-view="month">Month</button>
		<button class="btn btn-red" data-calendar-view="week">Week</button>
		<button class="btn btn-red" data-calendar-view="day">Day</button>
	</div>
	<div class="navigation">
		<button class="btn btn-blue" data-calendar-nav="prev">&laquo; Prev</button>
		<button class="btn btn-green" data-calendar-nav="today">Today</button>
		<button class="btn btn-blue" data-calendar-nav="next">Next &raquo;</button>
	</div>
</div>
<div class="datebook-calendar">
	<h2>Calendar - <span class="calendar-title"></span></h2>
	<div id="calendar"></div>
</div>

<div class="modal fade" id="events-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Event</h3>
            </div>
            <div class="modal-timeframe">
            	<h5></h5>
            	<h6></h6>
            </div>
            <div class="modal-body" style="min-height: 200px">
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-blue">Close</a>
            </div>
        </div>
    </div>
</div>