@import "variables.less";
@import "mixins.less";

// Global
p {
	font-size: 16px;
	line-height: 1.5em;
	.sans;
}
a {
	color: @green;

	&:hover, &:focus {
		color: @green;
	}
}
h1 {
	.serif;
	font-size: 35px;
}
h2 {
	.serif;
	font-size: 35px;
}
img {
	height: auto;
}

.btn, input[type="submit"].btn {
    border-radius: 2px;
    line-height: 1em;
    padding: 12px 15px;
    border: none;
    font-size: 17px;
    .background-color-transition(.15s);
    .sans;
    color: @white;
    font-weight: 400;

    &:hover, &:focus {
    	color: @white;
    }
}
.btn-green, input[type="submit"].btn-green {
	.make-btn(@green-dark);
}
.btn-blue, input[type="submit"].btn-blue {
	.make-btn(@blue-dark, 15%);
}
.btn-red, input[type="submit"].btn-red {
	.make-btn(@red-dark, 10%);
}

// Regions
.topwidget .region {
	padding: 0;
}

// Header
#block-topmenu {
	float: right;
	.menu {
		padding: 0;

		.menu-item {
			display: inline-block;
			font-size: 15px;
			.sans;
			font-weight: 700;
		}
	}
}
#block-pystpagano-branding {
	float: left;
}

// Navbar
.main-menuwrap {
	margin-bottom: 0;
}
.menu-base-theme {
	li {
		a {
			.background-color-transition(0.15s);

			&:hover, &:focus {
				background: @green-dark;
			}
		}
		&.active {
			a {
				background: @green-dark;
				color: @white;
			}
		}
	}
	@media (max-width:@screen-sm-max) and (min-width:@screen-sm-min) {
		li {
			font-size: 11px;
			
			a {
				padding: 13px 14px !important;
			}
		}
	}
	@media (max-width:@screen-tb-max) {
		clear:both;
		text-align: center;

		li {
			text-transform: uppercase;

			a {
				padding: 10px 20px !important;
				color: @white;
				background: @gray-dark;

				&:hover, &:focus {
					color: @white;
					background: lighten(@gray-dark, 5%);
				}
			}
		}
	}
}
.navbar-default .navbar-toggle {
	width: 100%;
	background: @green-dark;
	color: @white;
	text-transform: uppercase;
	margin-bottom: 0;

	&:hover, &:focus {
		background: lighten(@green-dark, 5%);
	}
}

// Footer
.footerwidget {
	margin-top: 40px;

	.menu {
		.menu-item {
			font-size: 15px;
			line-height: 1.5em;
		}
	}
}

// Basic Content {
#block-pystpagano-content {
	.body {
		img.align-left {
			margin: 0 20px 20px 0;
		}
	}
	@media (max-width:@screen-tb-max) {
		.body {
			img.align-left {
				float: none;
				width: 100%;

				img {
					max-width: 400px;
					width: 100%;
					display: block;
					margin: 0 auto 20px;
				}
			}
			h2 {
				display: none;
			}
		}
	}
}
#block-pystpagano-page-title {
	text-align: center;
	@media (min-width:@screen-sm-min) {
		display: none;
	}
}

// 2 Column Layout
.field_left_image, .field_right_image {
	width: 50%;
}
.field_left_column, .field_right_column {
	width: 50%;
}
.field_left_image, .field_left_column {
	float: left;
}
.field_right_image, .field_right_column {
	float: right;
}
.field_right_image {
	clear: left;
}
.field_right_column {
	padding-left: 20px;
}
.field_left_column {
	padding-right: 20px;
}
.field_left_column, .field_right_column {
	.text {
		overflow: hidden;
	}
	.btn {
		margin-top: 20px;
	}
}
.field_right_column {
	h2 {
		margin-top: 0;
	}
}
@media (min-width:@screen-lg-min) {
	.field_left_column, .field_right_column {
		.text {
			max-height: 288px;
		}
	}
}
@media (max-width:@screen-md-max) and (min-width:@screen-md-min) {
	.field_left_column, .field_right_column {
		.text {
			max-height: 266px;
		}
	}
}
@media (max-width:@screen-sm-max) and (min-width:@screen-sm-min) {
	.field_left_column, .field_right_column {
		.text {
			max-height: 192px;
		}
	}
}
@media (max-width:@screen-tb-max) {
	.field_left_image, .field_right_image {
		float: none;
		width: 100%;

		img {
			max-width: 400px;
			width: 100%;
			display: block;
			margin: 0 auto 20px;
		}
	}
	.field_left_column, .field_right_column {
		float: none;
		width: 100%;
		text-align: center;
		padding: 0;

		h2 {
			margin-top: 0;
		}
		p {
			text-align: left;
		}
		.btn {
			margin: 0;
		}
	}
	.field_right_column {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid @gray-text;
	}
}

// Home Banner
#block-homebanner {
	height: 545px;
	height: 365px;
	background: url(../images/background2.jpg) 0 0 no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom: 20px;

	.body {
		//background: rgba(255,255,255,0.6);
		position: absolute;
		top: 35px;
		right: 120px;
		text-align: right;
	}
	h2, h3, h4 {
		margin: 0;
		.serif;
		color: @black;
		text-shadow: #fff 40px 0px 60px,#fff -20px 0px 60px,#fff 40px 40px 80px,#fff -20px 40px 80px;
	}
	h2 {
		font-size: 50px;
		//text-shadow: 1px 2px 2px #607f35, 0 0 0 #000000, 1px 2px 2px #607f35;
	}
	h3 {
		font-size: 35px;
	}
	h4 {
		font-size: 50px;
	}
	.btn {
		position: absolute;
		bottom: 40px;
		right: 120px;
	}
	@media (max-width:@screen-sm-max) {
		.body, .btn {
			right: 60px;
		}
	}
}

// Mission Statement
#block-missionstatement {
	background: @gray-dark;
	padding: 35px 20px;
	margin: 0;
	text-align: center;

	h2 {
		color: @white;
	}
	p {
		color: @gray-light-text;
		max-width: 820px;
		margin-left: auto;
		margin-right: auto;
	}
}

// Testimonials
blockquote {
	border: none;
	padding: 10px 30px;

	img {
		width: 100px;
		height: 100px;
		border-radius: 50%;
	}
	p {
		font-size: 16px;
		.sans;
	}
	h2 + & {
		border-top: 1px solid @gray-text;
		padding-top: 20px;
		margin-top: 20px;
	}
	& + p {
		text-transform: uppercase;
		color: @green-dark;
		border-bottom: 1px solid @gray-text;
		padding-bottom: 20px;

		&:before {
			content: "\2014";
		}
	}
}

// Contact Form
.contact-form {
	margin: 0;
}

// Datebook
.datebook-save {
	background: @gray-light;
	border: 1px solid darken(@gray-light, 10%);
	padding: 20px;
	margin-bottom: 20px;
	h3 {
		.serif;
		font-size: 24px;
		margin: 0 0 20px;
	}
	.input-wrap {
		margin-bottom: 20px;
	}
	.submit {
		margin: 19px 0 0;
		text-align: center;
		.btn {
			padding: 0 60px;
		}
	}
	label {
		font-size: 16px;
	}
	.invalid label {
		color: @red-invalid;
	}
	input[type="text"], .btn, select {
		height: 41px;
	}
	input[type="text"], textarea, select {
		padding: 8px 12px;
		width: 100%;
		font-size: 15px;
		.sans;
		color: @black;
	}
	textarea {
		height: 127px;
	}
	.SumoSelect {
		height: 41px;
		width: 100%;
		> .CaptionCont {
			height: 100%;
			padding: 8px 12px;
			width: 100%;
			font-size: 15px;
			.sans;
			color: @black;
			> span {
				line-height: 25px;
			}
		}
		> .optWrapper {
			> .options {
				li.opt {
					padding: 8px 12px;
					label {
						font-size: 15px;
						font-weight: normal;
						margin: 0;
					}
				}
			}
			&.multiple >.options li.opt.selected span i {
				background-color: @blue-dark;
			}
		}
	}
}
.datebook-buttons {
	text-align: center;
	.view-change {
		margin-bottom: 15px;
		overflow: hidden;
		.btn {
			width: 120px;
			&.active {
				background: darken(@red-dark, 15%);
				&:hover, &:focus {
					background: darken(@red-dark, 15%);
				}
			}
		}
	}
	.navigation {
		overflow: hidden;
		.btn {
			width: 167px;
		}
	}
	.btn {
		margin: 0 8px;
	}
	@media (max-width: 600px) {
		.view-change {
			margin-left: -1.5%;
			margin-right: -1.5%;
			.btn {
				width: 22%;
				margin: 0 1.5%;
				float: left;
			}
		}
		.navigation {
			margin-left: -1.5%;
			margin-right: -1.5%;
			.btn {
				width: 30.3333333%;
				margin: 0 1.5%;
				float: left;
			}
		}
	}
	@media (min-width: 401px) {
		.thin {
			display: none;
		}
	}
	@media (max-width: 400px) {
		.thick {
			display: none;
		}
		.view-change {
			margin-left: 0;
			margin-right: 0;
			.btn {
				width: 100%;
				margin: 0;
				float: none;
			}
		}
		.navigation {
			margin-left: -2.5%;
			margin-right: -2.5%;
			.btn {
				width: 45%;
				margin: 0 2.5%;
			}
		}
	}
}
.datebook-calendar {
	h2 {
		text-align: center;
	}
	.event-info {
		background-color: #2cce29;
	}
	.dh-event-info {
		background-color: #c0ffbf !important;
		border-color: #2cce29 !important;
	}
}
#events-modal {
	.modal-header {
		h3 {
			font-weight: bold;
			font-size: 22px;
			margin: 0;
		}
	}
	.modal-timeframe {
		padding: 15px;
		border-bottom: 1px dashed #e5e5e5;
		h5 {
			font-size: 16px;
			margin: 0 0 10px;
		}
		h6 {
			font-size: 15px;
			margin: 0;
		}
		h4 {
			margin: 0 0 10px;
			font-size: 16px;
			font-weight: bold;
		}
	}
	.modal-body {
		p {
			.serif;
			font-size: 18px;
		}
	}
	.modal-footer {
		.btn {
			margin-left: 10px;
		}
	}
}